<mat-spinner>
<h1>Pets</h1>


<div class="container">

    <br>
    <div class="row">
        <h2>Mat Card</h2>
    </div>

    <div class="row">
        <div class="card-group d-flex justify-content-center">
        <div *ngFor="let pet of pets$">
            <mat-card class="mat-card">
                <mat-card-header>
                  <div mat-card-avatar class="header-image"></div>
                  <mat-card-title>{{ pet.name }}</mat-card-title>
                  <mat-card-subtitle>{{ pet.type}}</mat-card-subtitle>
                </mat-card-header>
                <div *ngIf="pet.photos.length > 0">
                    <img class="pic" src="{{ pet.photos[0].large }}">
                </div>
                <mat-card-content>
                  <p>
                    Lorem Ipsum, dog dog dog s
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
    </div>

    <mat-paginator class="d-flex justify-content-center" [length]="length"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageEvent = $event">
    </mat-paginator>

<div *ngIf="pageEvent">
<h5>page event hit</h5>
<div>List length: {{pageEvent.length}}</div>
</div>


    <div class="row">
        <h2>Boot Card</h2>
    </div>

    <div class="row">
        <div class="card-group">
            <div *ngFor="let pet of pets$">
                <div class="card img-fluid">
                    <div *ngIf="pet.photos.length > 0">
                        <img class="card-img-top pic" src="{{ pet.photos[0].large }}">
                    </div>
                    <div class="card-img-overlay">
                        <h4 class="card-title">{{ pet.name }}</h4>
                        <p class="card-text">{{ pet.type }}</p>
                        <a href="#" class="btn btn-info"></a>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row d-flex justify-content-center">
        <nav>
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
</div>
